# Masukkan email dari Service Account yang Anda buat di Google Cloud Console
GOOGLE_SERVICE_ACCOUNT_EMAIL="your-service-account@your-project.iam.gserviceaccount.com"

# Masukkan Private Key dari Service Account (harus mencakup -----BEGIN PRIVATE KEY----- dsb)
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIB... (potong)\n-----END PRIVATE KEY-----\n"

# Masukkan ID Spreadsheet (Dapat diambil dari URL Google Sheet Anda: https://docs.google.com/spreadsheets/d/SPREADSHEET_ID/edit)
SPREADSHEET_ID="your_spreadsheet_id_here"
